@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf"); }

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova/ProximaNova-Light.ttf"); }
